*{
    box-sizing: border-box;
}

main{
    margin: 0;
}

.homePage {
    display: block;
    text-decoration: none;
    font-size: 32px;
    padding: 3rem;
    text-align: center;
}

.content{
    display: flex;
    flex-direction: row;
}